# Exclude emulator tapes
*.tap
*.tzx
*.sna
*.z80

# Exclude Pasmo symbol/label files
*.sym
labels
labels.txt
atic-atac/original/.symbols
atic-atac/original/-s


# Exclude the build script
build.bat
assemble.bat
test_mem.bat
test.mem.sh

# Exclude temporary Windows files
Thumbs.db
.DS_Storefilename.ext

# Exclude data files
atic-atac/original/ORLA's SPRITE DATA
atic-atac/original/Original Wizard data
atic-atac/original/BERTIE'S SPRITE DATA
atic-atac/original/ORIGINAL SERF DATA
