# Exclude emulator tapes
*.tap
*.tzx
*.sna
*.z80

# Exclude Pasmo symbol/label files
*.sym
labels
labels.txt
atic-atac/original/.symbols
atic-atac/original/-s


# Exclude the build script
build.bat

# Exclude temporary Windows files
Thumbs.db
.DS_Storefilename.ext

# Exclude data files
atic-atac/original/ORLA's SPRITE DATA
atic-atac/original/Original Wizard data
