# Exclude emulator tapes
*.tap

# Exclude Pasmo symbol/label files
*.sym
labels
labels.txt

# Exclude the build script if you don't want it online
build.bat

# Exclude temporary Windows files
Thumbs.db
.DS_Store